body {
  height: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #333
}

/* Navbar */

#top-navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
}

.menu-left li,
.menu-right li {
 display: inline-block;
 padding-right: 10px;
}

.fa-user {
  background: purple;
  padding: 10px;
  color: white;
  border-radius: 50%
}

/* Logo */

#main-logo {
  height: 233px;
  margin-top: 89px;
  text-align: center;
}

.logo {
  padding-top: 109px;
}

/* Searchbar */

input:focus {
  outline: none;
}

#main-searchbar {
max-width: 586px;
margin: auto;
text-align: center;
}

.searchbar-area {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 20px;
}

.searchbar {
  border: none;
  padding: 14px 1rem;
  font-size: 16px;
  width: 500px;
}

.searchbar-area .fas {
  display: flex;
  align-items: center;
}

.search-btns {
  border: none;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  height: 36px;
  margin: 11px 4px;
  padding: 0 16px;
  border-radius: 4px;
}

.search-btns:hover {
  border: 1px solid #b9bbc0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  color: #202124;
}

.space {
  height: 372px;
}

/* Footer */
footer {
  background: #f2f2f2;
}
.canada {
  padding: 15px 30px;
  border-bottom: 1px solid #b9bbc0;
  color: rgba(0,0,0,.60);
}

.main-footer-links {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.footer-links {
  display: flex;
  flex: wrap;
  justify-content: space-between;
}

.footer-links a {
  padding: 15px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.test {
  flex-shrink: 0;
}







